[Desktop Entry]
Type=Application
Terminal=false
Exec=kitty --class ranger -e ranger
Name=Ranger
GenericName=File manager
Comment=Launches the ranger file manager
Icon=system-file-manager
Keywords=File;Manager;Browser;Explorer;Launcher;Vi;Vim;Python
MimeType=inode/directory;
Categories=ConsoleOnly;System;FileTools;FileManager
